# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DATN_Website_shop_shose_BE-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
